@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// Color variables
$primary: #2376ff;
$secondary: #f3aa50;
$tertiary: #5e676d;
$input-border: #e1e1e1;
$white: #ffffff;
$blue: #0f4880;
$dark-blue: #0a3055;
$black: #333333;

// Font size
$font-size: 1.6rem;

// Font family variables
$font-dm-sans: "DM Sans", sans-serif;
$font-nunito-sans: "Nunito Sans", sans-serif;
$font-public-sans: "Public Sans", sans-serif;